'editor':
  'fontFamily': 'menlo'
  'fontSize': 11
'core':
  'disabledPackages': [
    'autocomplete'
    'welcome'
  ]
'exception-reporting':
  'userId': '1a44d2a6-223b-b9f5-9929-33680031ed6f'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '5fc3849e4052ae4eae91b35fe942d9213e9c049d'
'autocomplete': {}
'grammar-selector': {}
'highlight-line': {}
'recent-files':
  'updated': false
